@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('/fonts/PTSerif-Regular.woff2') format('woff2'),
        url('/fonts/PTSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
